.clock {
  width: 800px;
  height: 350px;
  border-radius: 10px;
  background-color: #7900E5;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.counter {
  width: 200px;
  height: 200px;
  background-color: #1D1D1D;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.counter h2 {
  color: #fff;
  font-size: 120px;
  margin: 0;
}

.text {
  font-size: 50px;  
  margin: 0;
  margin-top: 10px;
  text-align: center;
  color: #fff;
}